.good-reviews {
  padding: 0 24px;
}

.good-reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.good-reviews__rating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.good-reviews__star {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  color: Gainsboro;
}

.good-reviews__star--active {
  color: Gold;
}

.good-reviews__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
