.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.home__card {
  display: flex;
  align-items: flex-end;
  min-height: 150px;
  padding: 16px;
  background-color: RoyalBlue;
  color: White;
  text-decoration: none;
  transform-origin: center center;
  transition: all 200ms ease-in-out;

  &:hover {
    scale: 1.05;
    background-color: CornFlowerBlue;
  }
}

.home__title {
  font-size: 20px;
  font-weight: 500;
}
