.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 24px;
  color: White;
  background-color: CornflowerBlue;
}

.header__title {
  margin-bottom: 8px;
}

.header__back {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: White;
  text-decoration: none;
}
