.color-space {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 800px;
  height: 500px;
  padding: 0;
  background-color: White;
  border: none;
  overflow: hidden;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.4);
}

.color-space__blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: blur(20px);
}

.color-space__image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.color-space__close {
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  background-color: White;
  border: none;
  border-radius: 0;
  cursor: pointer;

  & > svg {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
  }
}
